*.gem
*.rbc
.bundle
.config

coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
old_deploy/
log/
.sass-cache/
*.sw*
*/*.sw*
*.vim

# tools from Nodeland
node_modules/*
**/node_modules/*

# vscode
.vscode/*

# YARD artifacts
.yardoc
_yardoc
doc/
