*.gem
*.rbc
.bundle
.config

# This is a static site
Gemfile
Gemfile.lock

coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
.sass-cache/
*.sw*
*/*.sw*
*.vim

# YARD artifacts
.yardoc
_yardoc
doc/
