$gutter: 16px
$section_gap: 2em
  
  

@media (max-width: 700px) 

  body
    padding: 0px

  header.main
    margin: 0 $section_gap / 2 $section_gap / 2 $section_gap / 2

  #content 
    padding-top: 0px

  section
    margin: $section_gap / 2

  section:hover, section:focus
    .bullet:after
      width: 0.66em

  .row-fluid
    .spanbody:first-child 
      width: 82.97872340425532%
      *width: 82.92553191489361%
      margin-left: 8.51063829787234%
      *margin-left: 8.404255319148938%


  h1, h2
    padding-left: $gutter / 2

    &.link
      margin-top: 10px
  
    &.email 
      margin-left: -$gutter / 2
      padding-right: $gutter / 2
      width: 90%

    &.name

      //kind of a hack? removes the 10px from bootstrap
      //and adds it to the link such that when it collapses, we have
      //a buffer and it looks nice

      margin-top: 0px
      margin-bottom: 0px

      //0.5em
      a, span.no-link
        margin-right: 7px
        margin-top: $gutter * 4

    header &.slide
      right: -95%
      
     
    //
     header &.title
       width: 66%

  .job_brief
    padding-left: $gutter / 2 

  .bullet
    left: -35px
    &.big
      left: -43px
      &:before
        background-color: $red
        border-radius: $gutter
        width: $gutter
        opacity: 1
        height: $gutter
        top: 2px
        left: 2px
        height: 28px
        width: 28px
        color: white
        font-size: 28px
        line-height: 28px
        



  .row-fluid

    .job_brief
      float: left
      width: 61%

    .when
      float: right
      width: 38%

  .when
    padding-right: $gutter / 2

  section .description.span7
    float: right
    margin-top: $gutter / 2

  .when.mobile
    display: inline

  .when.full
    display: none

  .accomplishments
    margin-left: $gutter



@media print 

  .go-back
    display: none

  #content
    border-left: none

  #resume
    border-left: none

  .bullet
    border-color: transparent
    border-radius: 0
    border-style: none
    border-width: 0
    height: 0
    width: 0

    &:after
      display: none
      content: none

  h1.email
    .cssanimations &
      @include transition( none )

  .when.mobile
    display: none

  .when.full
    display: inline
