$gutter: 16px
$section-gap: 2em
$black: #fff

@media (max-width: 700px)

  body
    padding: 0

  header
    .main
      margin: 0 $section-gap / 2 $section-gap / 2 $section-gap / 2

  .content
    padding-top: 0

  section
    margin: $section-gap / 2

    .description
      .span7
        float: right
        margin-top: $gutter / 2

    &:hover,
    &:focus
      .bullet
        ::after
          width: 10px

  .row-fluid
    .spanbody
      :first-child
        margin-left: 8.51063829787234%
        width: 82.97872340425532%

    .job-brief
      float: left
      width: 61%

    .when
      float: right
      width: 38%

  h1,
  h2
    padding-left: $gutter / 2

    &.link
      margin-top: 10px

    &.email
      margin-left: -$gutter / 2
      padding-right: $gutter / 2
      width: 90%

    &.name

      //kind of a hack? removes the 10px from bootstrap
      //and adds it to the link such that when it collapses, we have
      //a buffer and it looks nice

      margin-bottom: 0
      margin-top: 0

      //0.5em
      a,
      span
        .no-link
          margin-right: 7px
          margin-top: $gutter * 4

    header &.slide
      right: -95%

    //
    header &.title
      width: 66%

  .job-brief
    padding-left: $gutter / 2

  .bullet
    left: -35px

    &.big
      left: -43px

      &::before
        background-color: $red
        border-radius: $gutter
        color: $black
        font-size: 28px
        height: $gutter
        left: 2px
        line-height: 28px
        opacity: 1
        top: 2px
        width: $gutter

  .when
    padding-right: $gutter / 2

    .mobile
      display: inline

    .full
      display: none

  .accomplishments
    margin-left: $gutter

@media print

  .go-back
    .bullet
      display: none

  a
    &[ href ]
      &::after
        content: none

  .content
    border-left: 0

  .resume
    border-left: 0

  .bullet
    border-color: transparent
    border-radius: 0
    border-style: none
    border-width: 0
    height: 0
    width: 0

    &::after
      content: none
      display: none

  h1
    &.email
      .cssanimations &
        @include transition(none)

  .when
    &.mobile
      display: none

    &.full
      display: inline
