@import 'compass/css3/transition'

$primary: .87
$secondary: .54
$black: #000
$white: #fff
$red: #e53935
$green: #1fca3e
$background-color: #f5f5f5
$slight-percentage: 2.71%
$gutter: 14px
$bootstrap-default-margin: 10px
$doublegutter: $gutter * 2
$page-lead: $gutter * 3
$section-gap: 2em
$speed: 400ms

html
  overflow-y: scroll

html,
body,
.main
  height: 100%

body
  background-color: $background-color
  color: $black

h2,
h3,
h5,
p
  opacity: $primary

p
  margin-top: 1em

h1
  .name
    opacity: 1

  *:not(div)
    &:not(a)
      opacity: $primary

  .download
    &:hover
      &::before
        content: '> '

h4
  font-size: 18px

  *:not(div)
    opacity: $primary

h1,
h2
  clear: both
  float: left
  width: 100%

  &.link
    margin-top: 1.3em

    :hover
      text-decoration: underline

  &.name
    position: relative

    span
      float: left

    a
      color: $black

      small
        color: $red

  &.email
    clear: none
    cursor: pointer
    float: right
    opacity: $primary
    text-align: right
    user-select: none
    will-change: transform

    .cssanimations &
      @include transition(all $speed)

  &.slide.shown + &.email
    opacity: 0

  small
    color: $black
    font-weight: bold

    span
      color: $red
      font-weight: bold

  & .show-email
    span
      opacity: 1

      &::before
        content: 'nnsb '

      &::after
        content: 'at '

    &
      &::after
        content: 'ail.com'

  &.slide
    position: absolute

.skills
  clear: both
  display: none

.row-fluid
  .body-width
    &:first-child
      margin-left: 17.02127659574468%
      width: 65.95744680851064%

.content
  background-color: $white
  border-left: $red solid 3px
  max-width: 1080px
  min-height: 100%
  padding-bottom: $page-lead
  padding-top: $page-lead

.drawer
  overflow: hidden
  position: relative

.go-back
  display: block
  position: relative

header
  h1
    &.slide
      //background-color: white
      bottom: 0%
      right: -52%

    &.shown
      right: 0%
      z-index: 2

    .action
      background-color: $red
      padding: .5em 0

      span
        padding: .5em

    span
      &:hover
        color: $black

      .cssanimations &
        @include transition(all $speed / 2)

    .shown
      right: 0%

    small
      span
        color: $black

    .email-me
      margin-right: 2em

.job-brief

  float: left
  text-align: left

  a
    color: $red
    display: block

  .position
    color: $red
    position: relative

.triangle
  border-bottom: 9px solid transparent
  border-right: 18px solid $white
  border-top: 9px solid transparent
  height: 0
  width: 0

.bullet
  background-color: $white
  border-color: $red
  border-radius: 18px
  border-style: solid
  height: 18px
  left: -42px
  position: absolute
  text-align: center
  top: -2px
  width: 18px

  &.big
    border-radius: 32px
    height: 32px
    left: -49px
    top: 1px
    width: 32px
    //background-color: green

    .triangle
      left: 5px
      position: absolute
      top: 7px

    &::before
      left: 16px
      top: 16px

    &::after
      height: 6px
      left: 32px
      top: ( 32 - 6px ) / 2

  &::before
    background-color: $black
    border-radius: 0
    content: ''
    display: inline-block
    height: 0
    left: 9px
    opacity: 0
    position: absolute
    text-align: center
    top: 9px
    width: 0

    .cssanimations &
      @include transition(all ($speed / 2 ) linear)

  &::after
    background-color: $red
    content: ''
    height: 4px
    left: $bootstrap-default-margin * 2
    position: absolute
    top: ( 18 - 4px ) / 2
    width: 7px

    .cssanimations &
      @include transition(all $speed)

.when
  float: right
  opacity: $secondary
  text-align: right

  .hidden
    display: none

  &.mobile
    display: none

  .cssanimations &
    @include transition(opacity $speed)

.description
  clear: both
  float: right
  opacity: $secondary
  text-align: right

.accomplishments
  clear: both
  float: left
  //i believe the 2px is an indentation from the bullet?
  margin-left: $gutter + 2px

.preview
  margin-top: 3em

section,
header.main
  margin: $section-gap

  &:hover,
  &.hovered
    .when
      opacity: $primary

      .hidden
        display: inline
        visibility: visible

    .bullet
      &::before
        background-color: $red
        border-radius: $gutter
        height: $gutter
        left: 2px
        opacity: 1
        top: 2px
        width: $gutter

      &.big
        &::before
          color: $black
          font-size: 28px
          height: 28px
          line-height: 28px
          width: 28px

      &::after
        width: 12px

ul
  li
    margin-top: .5em
    opacity: $primary

    b
      color: $red

@import 'responsive'
